<mat-toolbar   color="accent"><div style="text-align: center;width: 100%;">Product Tracking (beta)</div></mat-toolbar>
<div class="layout">
    <div class="layout">
        Assets
        <div class="search">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            </mat-form-field>
            <button mat-raised-button color="primary" style="margin-left: 30px;" (click)="addNewAsset()">Create
                Asset</button>
        </div>
        <table mat-table matTableExporter [dataSource]="dataSource" matSort class="mat-elevation-z8"
            style="width: 100%;left: 20px;top: 200px;position: fixed;">
            <!-- check this again -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns_2"></tr>
            <tr mat-row *matRowDef="let row;let i = index; columns: displayedColumns_2;"></tr>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ (i+1) + (paginator.pageIndex *
                    paginator.pageSize) }} </td>
            </ng-container>
<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element" style="width: 50px; max-width: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> {{element.id}} </td>
</ng-container>          
            <ng-container matColumnDef="transfer_org">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> transfer_org </th>
                <td mat-cell *matCellDef="let element"> {{element.transferTo_Org}} </td>
            </ng-container>
            <ng-container matColumnDef="product_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                  <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>
            <ng-container matColumnDef="temperature(°C)">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature(°C) </th>
              <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
            </ng-container>
            <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
                <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
                    <span class="material-icons" style="cursor:pointer;" (click)="view(element,i)">pageview</span>>
                </ng-container>
            <ng-container matColumnDef="transfer">
                <th mat-header-cell *matHeaderCellDef> Transfer </th>
                <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
                    <span class="material-icons" style="cursor: pointer;" (click)="delete(element,i)">arrow_forward</span>
            </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
                    <span class="material-iccons" style="cursor: pointer;" (click)="editRow(element,i)">edit</span>
                </td>
                </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
            <span class="material-icons" style="cursor: pointer;" (click)="deleteasset(element,i)">delete</span>
        </td>
    </ng-container>

        </table>
        <mat-paginator [length]="100" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
