<span class="material-icons" (click)="close()" style="float: right;">
    <mat-icon>highlight_off</mat-icon>
  </span>
  <div style="margin: 5px;">
      <div style="font-size: 1.5em; text-align: center;  margin-bottom: 15px;">Update Product</div>
      <form>
        <div fxLayout="column" fxLayoutAlign="space-around">
          <div class="row">
            <div class="col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Location</mat-label>
                  <input matInput type="text" required [formControl]="form.controls['location']" [(ngModel)]="data.location">
                </mat-form-field>
              <small *ngIf="form.controls['location'].hasError('required') && form.controls['location'].touched"
                  class="mat-text-warn">You must include location</small>
                <button mat-raised-button color="primary" [disabled]="!form.controls['location'] || !form.controls['location'].touched"
                style="margin-top:10px;" (click)="UpdateLocation()">Update location</button>
              </div>
              <div class="col-sm-12 ">
                <mat-form-field appearance="outline">
                  <mat-label>Temperature(°C)</mat-label>
                  <input matInput type="number" required [formControl]="form.controls['temperature']" [(ngModel)]="data.temperature">
                </mat-form-field>
                <small *ngIf="form.controls['temperature'].hasError('required') && form.controls['temperature'].touched"
                  class="mat-text-warn">You must include Temperature</small>
                <button mat-raised-button color="primary"  type="submit" [disabled]="!form.controls['temperature'].touched"
                  style="margin-top:10px;" (click)="UpdateTemperature()">Update Temperature</button>
              </div>
              <div class="col-sm-12 ">
                <mat-form-field appearance="outline">
                  <mat-label>Weight(kg)</mat-label>
                  <input matInput type="number" required [formControl]="form.controls['weight']" [(ngModel)]="data.weight">
                </mat-form-field>
                <small *ngIf="form.controls['weight'].hasError('required') && form.controls['weight'].touched"
                  class="mat-text-warn">You must include weight</small>
                  <button mat-raised-button color="primary"  type="submit" [disabled]="!form.controls['weight'].touched"
                  style="margin-top:10px;" (click)="UpdateWeight()">Update Weight</button>
              </div>
          </div>
          <div class="col-sm-12 ">
            <mat-form-field appearance="outline">
              <mat-label>Use By Date</mat-label>
              <input matInput type="date" required [formControl]="form.controls['usebydate']" [(ngModel)]="aseet.usebydate">
            </mat-form-field>
            <small *ngIf="form.controls['usebydate'].hasError('required') && form.controls['usebydate'].touched"
              class="mat-text-warn">You must include Use By Date</small>
          </div>


        </div>
        <div style="text-align: center; padding-top: 10px;">
          <button mat-raised-button (click)="dialogRef.close()" aria-label="Cancel">Cancel</button>
          <span style="padding-left: 10px;"></span> <!-- Add some padding between the buttons -->
          <button mat-raised-button color="primary" (click)="openSnackBar()" aria-label="Show an example snack-bar">Submit</button>
                
          <!-- <button mat-raised-button color="primary"  type="submit" [disabled]="!form.valid"
            style="margin-top:10px;">Create/Update</button> -->

      </div>
      </form>
  </div>
